html {
    background-color: black;
}

.banner {
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar-logo {
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-logo-img {
    height: 50px;
    width: 130px;
}

.social-icons-mini {
    padding: 5px;
    display: inline-block;
}

    .social-icons-mini .social-icon-rounded {
        border-radius: 40px;
    }

.banner-navbar-collapse {
    font-family: 'Comic Sans MS';
    text-align: center;
}

.banner-navbar-nav {
    display: inline-block;
    float: none;
    margin-top: 5px;
    padding: 0;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*background-size: cover;*/
    height: 100%;
    width: 100%;
    position: relative;
    padding-top: 60px; /*do not remove this, Regine*/
    font-family: 'Calibri', sans-serif;
}

.body-content {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 0;
}

.content-section {
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 60px;
    /*padding-bottom: 30px;*/
    height: auto;
    z-index: -1000;
}

@media all and (orientation: landscape) {
    .content-section .section-header {
        font-size: 4.0vw !important;
        /*margin-bottom: 20px;*/
    }
}

@media all and (orientation: portrait) {
    .content-section .section-header {
        font-size: 5.7vw !important;
        margin-bottom: 20px;
    }
}

.carousel-control {
    cursor: pointer;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .6);
    /*opacity: initial;*/
}

    .carousel-control.left, .carousel-control.right {
        background-image: none;
        width: auto;
    }

.carousel-content {
    text-align: left;
}

ol.carousel-indicators {
    display: none;
}
/*****************About***************/
#About {
    background-color: rgb(128, 128, 128);
    padding-left: 0;
    padding-right: 0;
}

/*#myCarousel img {
    height: 350px;
    max-height: 350px;
}*/

.social-icons {
    padding-top: 70px;
}

/*****************Experience***************/
#Experience {
    background-color: rgba(128, 0, 0, 0.5);
}

.experience-container {
    background-color: gray;
    border: solid 1px black;
    border-radius: 5px;
    margin-bottom: 5px;
}

/*****************Skills***************/
#Skills {
    background-color: rgb(77, 184, 77);
}

.other-skills {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-left: 20px;
}

    .other-skills li {
        padding: 0;
        /*margin-right: 20px;*/
    }

@media all and (min-width: 480px) {
    .other-skills .skill-img {
        max-width: 150px;
        max-height: 45px;
    }
}

@media all and (max-width: 480px) {
    .other-skills .skill-img {
        max-width: 100px;
        max-height: 35px;
    }
}

/*****************Education***************/
#Education {
    background-color: rgb(209, 163, 25);
}


@media all and (max-width: 480px) {
    .school-logo {
        max-width: 75px;
        max-height: 75px;
        display: block;
        margin: auto;
    }
}

@media all and (min-width: 481px) {
    .school-logo {
        max-width: 100px;
        max-height: 100px;
    }
}

/*****************Contact***************/
#Contact {
    background-color: rgb(255, 255, 0);
}

.contactform-message {
    height: 400px;
}

.contact-address {
    margin-bottom: 5vw;
}

.social-inline{
    /*margin-right: 1vw;*/
    margin-bottom: 2vw;
    /*font-size: 1.5vw;*/
}

@media all and (max-width: 480px) {
    .social-inline {
        padding-left: 35px;
        padding-bottom: 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }
}

@media all and (min-width: 481px) {
    .social-inline {
        padding-left: 45px;
        padding-bottom: 5px;
        font-size: 18px;
        line-height: 1.5;
        border-radius: 10px;
    }
}

/*****************Hobbies***************/
#Hobbies {
    background-color: rgb(25, 71, 117);
}

/*****************Footer***************/
.footer {
    height: 200px;
    position: relative;
    bottom: 0;
    color: #fff;
    padding: 20px;
    margin-top: 50px;
    background-color: #222;
    border-color: #080808;
    font-size: 14px;
}

    .footer .social-icons-mini {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .footer .rights-reserved {
        position: absolute;
        bottom: 0;
    }

/*****************Helper Classes***************/

@media all and (orientation: landscape) {
    .-h1 {
        font-size: 4.0vw !important;
        line-height: 1.2 !important;
    }

    .-h2 {
        font-size: 3.0vw !important;
        line-height: 1.2 !important;
    }

    .-h3 {
        font-size: 2.5vw !important;
        line-height: 1.2 !important;
    }

    .-h4 {
        font-size: 2.0vw !important;
        line-height: 1.2 !important;
    }

    .-h5 {
        font-size: 1.5vw !important;
        line-height: 1.2 !important;
    }

    .-h6 {
        font-size: 1.25vw !important;
        line-height: 1.2 !important;
    }
}

@media all and (orientation: portrait) {
    .-h1 {
        font-size: 5.7vw !important;
        line-height: 1.2 !important;
    }

    .-h2 {
        font-size: 4.0vw !important;
        line-height: 1.2 !important;
    }

    .-h3 {
        font-size: 3.5vw !important;
        line-height: 1.2 !important;
    }

    .-h4 {
        font-size: 3.0vw !important;
        line-height: 1.2 !important;
    }

    .-h5 {
        font-size: 1.5vw !important;
        line-height: 1.2 !important;
    }

    .-h6 {
        font-size: 1.25vw !important;
        line-height: 1.2 !important;
    }
}

.-bold-font {
    font-weight: bold !important;
}

.-italic-font {
    font-style: italic !important;
}