@font-face {
   font-family: 'Fanwood';
   src: url(../fonts/theleagueof-fanwood/fanwood-webfont.woff);
}

@font-face {
   font-family: 'Harry Potter';
   src: url(../fonts/HARRP___.woff);
}

html{
    background-color: black;
}

.banner {
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar-logo {
    height: 105px;
}

.banner-logo {
    height: 75px;
    width: 220px;
}

.banner-navbar-collapse {
    font-family: 'Comic Sans MS';
    text-align: center
}

.banner-navbar-nav {
    display: inline-block; 
    float: none; 
    margin-top: 30px; 
    margin-left: -200px;
    padding: 0;
}

body { 
  background: url("../images/index-background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
}

.body-content {
    /*background-color: rgba(255, 255, 255, 0.75);*/
    padding: 0;
}

.content-section {
    padding-top: 105px;
    height: auto;
}

/*****************About***************/
#About {
    background-color: pink;
}

#myCarousel img {
    max-height: 350px;
}

.carousel-control {
    cursor: pointer;
}

#Experience {
    background-color: yellow;
}

#Skills {
    background-color: dodgerblue;
}

#Education {
    background-color: violet;
}

#Contact {
    background-color: red;
}

#Hobbies {
    background-color: aquamarine;
}

.footer{
  height: 200px;
  position: relative;
  bottom: 0;
  color: #fff;
  padding:20px;
  margin-top: 50px;
  background-color: #222;
  border-color: #080808;
  font-size: 14px;
}

