html {
    background-color: black;
}

.banner {
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar-logo {
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-logo-img {
    height: 50px;
    width: 130px;
}

.social-icons-mini {
    padding: 5px;
    display: inline-block;
}

    .social-icons-mini .social-icon {
        border-radius: 40px;
    }

.banner-navbar-collapse {
    font-family: 'Comic Sans MS';
    text-align: center;
}

.banner-navbar-nav {
    display: inline-block;
    float: none;
    margin-top: 5px;
    padding: 0;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*background-size: cover;*/
    height: 100%;
    width: 100%;
    position: relative;
    padding-top: 60px; /*do not remove this, Regine*/
}

.body-content {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 0;
}

.content-section {
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 60px;
    /*padding-bottom: 30px;*/
    height: auto;
}

    .content-section .section-header {
        font-size: 4.0vw !important;
        margin-bottom: 20px;
    }

.carousel-control {
    cursor: pointer;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .6);
    /*opacity: initial;*/
}

    .carousel-control.left, .carousel-control.right {
        background-image: none;
        width: auto;
    }

.carousel-content {
    text-align: left;
    z-index: 1000;
}

ol.carousel-indicators {
    display: none;
}
/*****************About***************/
#About {
    /*background-color: pink;*/
    background: url("../images/index-background1.png") no-repeat center center;
    background-size: cover;
    padding-left: 0;
    padding-right: 0;
}

/*#myCarousel img {
    height: 350px;
    max-height: 350px;
}*/

.social-icons {
    padding-top: 70px;
}

/*****************Experience***************/
#Experience {
    /*background-color: yellow;*/
    background: url("../images/index-background2.png") no-repeat center center;
    background-size: cover;
}

.experience-container {
    background-color: gray;
    border: solid 1px black;
    border-radius: 5px;
    margin-bottom: 5px;
}

/*****************Skills***************/
#Skills {
    /*background-color: dodgerblue;*/
    background: url("../images/index-background3.png") no-repeat center center;
    background-size: cover;
}

.other-skills {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-left: 20px;
}

    .other-skills li {
        padding: 0;
        /*margin-right: 20px;*/
    }

    .other-skills .skill-img {
        max-width: 150px;
        max-height: 45px;
    }

/*****************Education***************/
#Education {
    /*background-color: violet;*/
    background: url("../images/index-background4.png") no-repeat center center;
    background-size: cover;
}

.school-logo {
    max-width: 75px;
    max-height: 75px;
}

/*****************Contact***************/
#Contact {
    /*background-color: red;*/
    background: url("../images/index-background5.png") no-repeat center center;
    background-size: cover;
}

.contactform-message {
    height: 400px;
}

.contact-address {
    margin-bottom: 10px;
}

/*****************Hobbies***************/
#Hobbies {
    /*background-color: aquamarine;*/
    background: url("../images/index-background6.png") no-repeat center center;
    background-size: cover;
}

/*****************Footer***************/
.footer {
    height: 200px;
    position: relative;
    bottom: 0;
    color: #fff;
    padding: 20px;
    margin-top: 50px;
    background-color: #222;
    border-color: #080808;
    font-size: 14px;
}

    .footer .social-icons-mini {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .footer .rights-reserved {
        position: absolute;
        bottom: 0;
    }
/*****************Helper Classes***************/
.-h1 {
    font-size: 4.0vw !important;
}

.-h2 {
    font-size: 3.0vw !important;
}

.-h3 {
    font-size: 2.0vw !important;
}

.-h4 {
    font-size: 1.5vw !important;
}

.-h5 {
    font-size: 1.25vw !important;
}

.-h6 {
    font-size: 0.75vw !important;
}

.-bold-font {
    font-weight: bold !important;
}

.-italic-font {
    font-style: italic !important;
}

.content-section {
    background: none !important;
}
