<!DOCTYPE html>
<html style="cursor: url(../images/defaultcursor.cur), auto;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />

    <title>Regine Grace Hisona In</title>

    <!-- CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap-social.css" rel="stylesheet" type="text/css" />
    <link href="css/onepage-scroll.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />

    <link href='https://fonts.googleapis.com/css?family=Macondo+Swash+Caps' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>

    <!-- JS -->
    <script language="javascript" type="text/javascript" src="js/lib/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="js/lib/jquery.zoom-scroller.js"></script>
    <script language="javascript" type="text/javascript" src="js/lib/jquery.onepage-scroll.js"></script>
    <script language="javascript" type="text/javascript" src="js/lib/bootstrap.js"></script>
    <script language="javascript" type="text/javascript" src="js/lib/angular.js"></script>
    <script language="javascript" type="text/javascript" src="js/lib/angular-touch.js"></script>
    <script language="javascript" type="text/javascript" src="js/lib/angular-animate.js"></script>
    <script language="javascript" type="text/javascript" src="js/lib/ui-bootstrap.js"></script>
    <script language="javascript" type="text/javascript" src="js/lib/ui-bootstrap-tpls.js"></script>
    <script language="javascript" type="text/javascript" src="js/lib/particles.js"></script>
    <script language="javascript" type="text/javascript" src="js/app/app.js"></script>

    <!-- ANGULAR CUSTOM -->
    <script language="javascript" type="text/javascript" src="js/app/controllers/mainCtrl.js"></script>
    <script language="javascript" type="text/javascript" src="js/app/factories/mainFactory.js"></script>

</head>
<body ng-app="app" ng-controller="MainController as main" data-spy="scroll" data-target=".navbar" data-offset="100">
    <nav class="navbar navbar-inverse banner navbar-fixed-top ">
        <div class="container-fluid">    
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavBar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbar-logo" href="index.html#About">
                    <img class="navbar-logo-img" src="images/logo-Regine.PNG" alt="Regine In"/>
                </a>
            </div>   
            <div class="collapse navbar-collapse banner-navbar-collapse" id="myNavBar">
                <div class="text-center social-icons-mini pull-right">
                    <a class="btn btn-social-icon btn-linkedin social-icon-rounded" href="{{main.accounts.linkedin}}" target="_blank" title="LinkedIn">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a class="btn btn-social-icon btn-github social-icon-rounded" href="{{main.accounts.github}}" target="_blank" title="Github">
                        <i class="fa fa-github"></i>
                    </a>
                    <a class="btn btn-social-icon btn-facebook social-icon-rounded" href="{{main.accounts.facebook}}" target="_blank" title="Facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-social-icon btn-twitter social-icon-rounded" href="{{main.accounts.twitter}}" target="_blank" title="Twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-social-icon btn-instagram social-icon-rounded" href="{{main.accounts.instagram}}" target="_blank" title="Instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
                <ul class="nav navbar-nav banner-navbar-nav" role="navbar-nav">
                    <li data-index="1" ng-click="main.scroll($event)"><a href="#1">ABOUT ME</a></li>
                    <li data-index="2" ng-click="main.scroll($event)"><a href="#2">WORK EXPERIENCES</a></li>
                    <li data-index="3" ng-click="main.scroll($event)"><a href="#3">SKILLS</a></li>
                    <li data-index="4" ng-click="main.scroll($event)"><a href="#4">EDUCATION</a></li>
                    <li data-index="5" ng-click="main.scroll($event)"><a href="#5">CONTACT ME</a></li>
                    <li data-index="6" ng-click="main.scroll($event)"><a href="#6">FUN</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div  class="body-content" role="onepage-scroller">
        <div id="About" class="container-fluid content-section" role="content-section">
            <div class="container content">
                <carousel id="aboutCarousel" interval="main.experienceCarouselInterval" no-wrap="main.noWrapSlides" resize>
                    <slide class="slide">
                        <div class="-h3 text-center">
                            Hi! I'm Regine In and I'm a software developer from the beautiful country of the Philippines!
                        </div>
                    </slide>
                </carousel>
                <div class="text-center">
                    <a class="btn btn-lg -h4 -bold-font btn-contact-me" href="#2" data-index="2" ng-click="main.scroll($event)">KEEP SCROLLING &gt;&gt;</a>
                </div>
            </div>
            <!--<img class="background-img" src="images/index-background1.png">-->
        </div>
        <div id="Experience" class="container-fluid content-section" role="content-section">
            <div class="section-header content">
                <span><i class="glyphicon glyphicon-briefcase"></i> Work Experiences</span>
            </div>
            <div class="container content">
                <carousel id="experienceCarousel" interval="main.experienceCarouselInterval" no-wrap="main.noWrapSlides" resize>
                    <slide class="slide" ng-repeat="experience in main.workExperiences">
                        <div class="carousel-content">
                            <div class="row" style="margin-right: 0;">
                                <div class="col-md-8 col-lg-8 -h3">
                                    {{experience.jobTitle}} at {{experience.company}}
                                </div>
                                <div class="col-md-4 col-lg-4 -h3">
                                    {{experience.duration}}
                                </div>
                            </div>
                            <div class="-h4 -italic-font" style="margin-right: 0;">
                                ({{experience.location}})
                            </div>
                            <div class="-h3 -bold-font" style="margin-right: 0;">
                                Achievement Highlights:
                            </div>
                            <div class="row" style="margin-right: 0;">
                                <div class="col-md-11 col-lg-11">
                                    <ul>
                                        <li class="-h3" ng-repeat="achievement in experience.achievements">{{achievement}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </slide>
                </carousel>
            </div>
            <!--<img class="background-img" src="images/index-background1.png">-->
        </div>
        <div id="Skills" class="container-fluid content-section" role="content-section">
            <div class="section-header content">
                <span><i class="glyphicon glyphicon-wrench"></i> Technical Skills</span>
            </div>
            <div class="container content">
                <carousel id="skillsCarousel" interval="main.experienceCarouselInterval" no-wrap="main.noWrapSlides">
                    <slide class="slide">
                        <div class="carousel-content" ng-repeat="skill in main.skills">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active -h4 -bold-font" role="progressbar" aria-valuenow="skill.score" 
                                     aria-valuemin="0" aria-valuemax="100" ng-style="{'width':'{{skill.score}}%', 'background-color':'{{skill.color}}', 'color':'black'}">
                                    <p class="skill-label">{{skill.name}} ({{skill.score}}%)</p>
                                </div>
                            </div>
                        </div>
                    </slide>
                    <slide class="slide">
                        <div class="carousel-content">
                            <span class="-h3">I also have experience with...</span>
                            <div class="container">
                                <ul class="other-skills" ng-repeat="skill in main.otherSkills">
                                    <li title="{{skill.name}}">
                                        <img class="skill-img center-block" ng-src="{{skill.image}}" alt="{{skill.name}}" />
                                        <p class="text-center -h4">{{skill.name}}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </slide>
                </carousel>
            </div>
            <!--<img class="background-img" src="images/index-background1.png">-->
        </div>
        <div id="Education" class="container-fluid content-section" role="content-section">
            <div class="section-header content">
                <span><i class="glyphicon glyphicon-education"></i> Education</span>
            </div>
            <div class="container content">
                <carousel id="educationCarousel" interval="main.experienceCarouselInterval" no-wrap="main.noWrapSlides">
                    <slider class="slide" ng-repeat="education in main.education">
                        <div class="carousel-content">
                            <div class="col-md-10 col-lg-10 col-sm-10">
                                <p>
                                    <b class="-h3">{{education.course}}</b>
                                    <br />
                                    <span class="-h3">{{education.school}}</span>
                                    <br />
                                    <span class="-h3 -italic-font">{{education.duration}}</span>
                                </p>
                            </div>
                            <div class="col-md-2 col-lg-2 col-sm-2">
                                <img class="school-logo" ng-src="{{education.schoolLogo}}" alt="{{education.imgAlt}}" />
                            </div>
                        </div>
                    </slider>
                </carousel>
            </div>
            <!--<img class="background-img" src="images/index-background1.png">-->
        </div>
        <div id="Contact" class="container-fluid content-section" role="content-section">
            <div class="section-header content">
                <span><i class="glyphicon glyphicon-earphone"></i> Contact Me</span>
            </div>
            <div class="text-center contact-address content">
                <p class="-h3 -bold-font">
                    <i class="fa fa-map-marker"></i> Caloocan City, Metro Manila, Philippines<br />
                    <a href="{{main.accounts.email}}"
                       target="_blank" title="Email">
                        <i class="fa fa-envelope"></i> reginegracein@gmail.com
                    </a>
                </p>
            </div>
            <div class="text-center content">
                <div class="row">
                    <div class="col-md-2 col-lg-2 col-sm-6 col-xs-6 col-md-offset-1 col-lg-offset-1">
                        <a class="btn btn-social btn-linkedin social-inline center-block" href="{{main.accounts.linkedin}}"
                           target="_blank" title="LinkedIn">
                            <i class="fa fa-linkedin"></i> LinkedIn
                        </a>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-6 col-xs-6">
                        <a class="btn btn-social btn-github social-inline center-block" href="{{main.accounts.github}}"
                           target="_blank" title="Github">
                            <i class="fa fa-github"></i> Github
                        </a>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-6 col-xs-6">
                        <a class="btn btn-social btn-facebook social-inline center-block" href="{{main.accounts.facebook}}"
                           target="_blank" title="Facebook">
                            <i class="fa fa-facebook"></i> Facebook
                        </a>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-6 col-xs-6">
                        <a class="btn btn-social btn-twitter social-inline center-block" href="{{main.accounts.twitter}}"
                           target="_blank" title="Twitter">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-6 col-xs-6">
                        <a class="btn btn-social btn-instagram social-inline center-block" href="{{main.accounts.instagram}}"
                           target="_blank" title="Instagram">
                            <i class="fa fa-instagram"></i> Instagram
                        </a>
                    </div>
                </div>
            </div>
            <!--<img class="background-img" src="images/index-background1.png">-->
        </div>
        <div id="Hobbies" class="container-fluid content-section" role="content-section">
            <div class="section-header content">
                <span><i class="glyphicon glyphicon-headphones"></i> Mini Game</span>
            </div>
            <div class="container -h3 content">
                Here's a mini game I made especially for you, but it's still under construction.
            </div>
            <!--<img class="background-img" src="images/index-background1.png">-->
        </div>
    </div>
    <div id="particles-js"></div>
</body>
</html>
