<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />

    <title>Regine Grace Hisona In</title>

    <!-- CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap-social.css" rel="stylesheet" type="text/css" />
    <link href="css/onepage-scroll.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />

    <!-- JS -->
    <script language="javascript" type="text/javascript" src="js/lib/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="js/lib/jquery.zoom-scroller.js"></script>
    <script language="javascript" type="text/javascript" src="js/lib/jquery.onepage-scroll.js"></script>
    <script language="javascript" type="text/javascript" src="js/lib/bootstrap.js"></script>
    <script language="javascript" type="text/javascript" src="js/lib/angular.js"></script>
    <script language="javascript" type="text/javascript" src="js/lib/angular-touch.js"></script>
    <script language="javascript" type="text/javascript" src="js/lib/angular-animate.js"></script>
    <script language="javascript" type="text/javascript" src="js/lib/ui-bootstrap.js"></script>
    <script language="javascript" type="text/javascript" src="js/lib/ui-bootstrap-tpls.js"></script>
    <script language="javascript" type="text/javascript" src="js/lib/Chart.js"></script>
    <script language="javascript" type="text/javascript" src="js/lib/Chart.HorizontalBar.js"></script>
    <script language="javascript" type="text/javascript" src="js/app/app.js"></script>

    <!-- ANGULAR CUSTOM -->
    <script language="javascript" type="text/javascript" src="js/app/controllers/mainCtrl.js"></script>
    <script language="javascript" type="text/javascript" src="js/app/factories/mainFactory.js"></script>

</head>
<body ng-app="app" ng-controller="MainController as main" data-spy="scroll" data-target=".navbar" data-offset="100">
    <nav class="navbar navbar-inverse banner navbar-fixed-top ">
        <div class="container-fluid">    
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavBar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbar-logo" href="index.html#About">
                    <img class="navbar-logo-img" src="images/logo-Regine.PNG" alt="Regine In"/>
                </a>
            </div>   
            <div class="text-center social-icons-mini pull-right">
                <a class="btn btn-social-icon btn-xs btn-linkedin social-icon" href="{{main.accounts.linkedin}}" target="_blank" title="LinkedIn">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a class="btn btn-social-icon btn-xs btn-github social-icon" href="{{main.accounts.github}}" target="_blank" title="Github">
                    <i class="fa fa-github"></i>
                </a>
                <a class="btn btn-social-icon btn-xs btn-facebook social-icon" href="{{main.accounts.facebook}}" target="_blank" title="Facebook">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="btn btn-social-icon btn-xs btn-twitter social-icon" href="{{main.accounts.twitter}}" target="_blank" title="Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a class="btn btn-social-icon btn-xs btn-instagram social-icon" href="{{main.accounts.instagram}}" target="_blank" title="Instagram">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
            <div class="collapse navbar-collapse banner-navbar-collapse" id="myNavBar">
                <ul class="nav navbar-nav banner-navbar-nav">
                    <li class="active"><a href="#About">ABOUT ME<span class="sr-only">(current)</span></a></li>
                    <li><a href="#Experience">WORK EXPERIENCE</a></li>
                    <li><a href="#Skills">SKILLS</a></li>
                    <li><a href="#Education">EDUCATION</a></li>
                    <li><a href="#Contact">CONTACT ME</a></li>
                    <li><a href="#Hobbies">HOBBIES ETC.</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="body-content main">
        <div id="About" class="container-fluid content-section">
            <div class="container">
                <!--<carousel id="myCarousel" interval="main.myInterval" no-wrap="main.noWrapSlides" ng-animate="false">
                    <slide class="slide" ng-repeat="slide in main.aboutMeSlides" active="slide.active">
                        <img ng-src="{{slide.image}}" style="margin:auto;" alt="{{slide.alt}}">
                        <div class="carousel-caption">
                            <h4></h4>
                            <p></p>
                        </div>
                    </slide>
                </carousel>-->
                <div class="text-center">
                    <a class="btn btn-lg btn-microsoft" href="#Contact">CONTACT ME </a>
                </div>
            </div>
        </div>
        <div id="Experience" class="container-fluid content-section">
            <span class="-xxlarge-font"><i class="glyphicon glyphicon-briefcase"></i> Work Experience</span>
            <div class="container">
                <div class="row container experience-container" ng-repeat="experience in main.workExperiences">
                    <div class="row">
                        <div class="col-md-7 col-lg-7">
                            <h3>{{experience.jobTitle}} at {{experience.company}}</h3>
                            <em>({{experience.location}})</em>
                        </div>
                        <div class="col-md-5 col-lg-5">
                            <br />
                            {{experience.duration}}
                        </div>
                    </div>
                    <div class="row container">
                        <b><em>Achievement Highlights:</em></b>
                        <ul>
                            <li ng-repeat="achievement in experience.achievements">{{achievement}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="Skills" class="container-fluid content-section">
            <span class="-xxlarge-font"><i class="glyphicon glyphicon-wrench"></i> Technical Skills</span>
            <div class="container">
                <div class="center-block" style="width: inherit; height: inherit;">
                    <canvas id="skillsCanvas" height="20%" width="70%"></canvas>
                </div>
                <span class="-large-font">I also have experience with...</span>
                <div class="container">
                    <div class="row">
                        <ul class="other-skills" ng-repeat="skill in main.otherSkills">
                            <li title="{{skill.name}}">
                                <img class="skill-img" ng-src="{{skill.image}}" alt="{{skill.name}}" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="Education" class="container-fluid content-section">
            <span class="-xxlarge-font"><i class="glyphicon glyphicon-education"></i> Education</span>
            <div class="row" ng-repeat="education in main.education">
                <div class="col-md-1 col-lg-1 col-xs-12 col-sm-2">
                    <img class="school-logo" ng-src="{{education.schoolLogo}}" alt="{{education.imgAlt}}" />
                </div>
                <div class="col-md-11 col-lg-11 col-xs-12 col-sm-10">
                    <p>
                        <b class="-xlarge-font">{{education.course}}</b>
                        <br />
                        <span class="-large-font">{{education.school}}</span>
                        <br />
                        <em class="-large-font">{{education.duration}}</em>
                    </p>
                </div>
            </div>
        </div>
        <div id="Contact" class="container-fluid content-section">
            <span class="-xxlarge-font"><i class="glyphicon glyphicon-earphone"></i> Contact Me</span>
            <div class="container">
                <!--<div class="text-center social-icons col-md-4 col-xs-12 col-sm-12 col-lg-4">
                    <a class="btn btn-social btn-xs btn-linkedin btn-block" href="{{main.accounts.linkedin}}"
                        target="_blank" title="{{main.socialAccountsCaption.linkedin}}">
                        <i class="fa fa-linkedin"></i>{{main.socialAccountsCaption.linkedin}}
                    </a>
                    <a class="btn btn-social btn-xs btn-github btn-block" href="{{main.accounts.github}}"
                        target="_blank" title="{{main.socialAccountsCaption.github}}">
                        <i class="fa fa-github"></i>{{main.socialAccountsCaption.github}}
                    </a>
                    <a class="btn btn-social btn-xs btn-facebook btn-block" href="{{main.accounts.facebook}}"
                        target="_blank" title="{{main.socialAccountsCaption.facebook}}">
                        <i class=" fa fa-facebook"></i>{{main.socialAccountsCaption.facebook}}
                    </a>
                    <a class="btn btn-social btn-xs btn-twitter btn-block" href="{{main.accounts.twitter}}"
                        target="_blank" title="{{main.socialAccountsCaption.twitter}}">
                        <i class="fa fa-twitter"></i>{{main.socialAccountsCaption.twitter}}
                    </a>
                    <a class="btn btn-social btn-xs btn-instagram btn-block" href="{{main.accounts.instagram}}"
                        target="_blank" title="{{main.socialAccountsCaption.instagram}}">
                        <i class="fa fa-instagram"></i>{{main.socialAccountsCaption.instagram}}
                    </a>
                </div>-->
                <div class="col-md-6 col-lg-6 col-xs-10 col-sm-8 col-md-offset-3 col-lg-offset-3 col-sm-offset-2 col-xs-offset-1">
                    <div class="text-center contact-address">
                        <p class="-large-font -bold-font">
                            <i class="fa fa-home"></i> Caloocan City, Metro Manila, Philippines<br />
                            <i class="fa fa-envelope"></i> reginegracein@gmail.com
                        </p>
                    </div>
                    <div class="row">
                        <span class="-large-font">Or send me a quick e-mail here...</span>
                    </div>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label" for="name">Name:</label>
                            <div>
                                <input type="text" class="form-control" id="name" placeholder="Your name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="email">Email:</label>
                            <div>
                                <input type="email" class="form-control" id="email" placeholder="Your email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="message">Message:</label>
                            <div>
                                <textarea class="form-control contactform-message" id="contactform-message" placeholder="Your message"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <button type="submit" class="btn btn-info center-block">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="Hobbies" class="container-fluid content-section">
            <span class="-xxlarge-font"><i class="glyphicon glyphicon-headphones"></i> Hobbies and Trivias About Me</span>
            <div class="container">
            </div>
        </div>
    </div>
    <!--<div class="footer">
        <div class="rights-reserved">
            <p><i class="fa fa-copyright"></i>&nbsp;<span id="rightsReservedYear"></span> All Rights Reserved.</p>
        </div>
        <div class="text-center social-icons-mini">
            <a class="btn btn-social-icon btn-github social-icon" href="{{main.accounts.github}}" target="_blank" title="Github">
                <i class="fa fa-github"></i>
            </a>
            <a class="btn btn-social-icon btn-linkedin social-icon" href="{{main.accounts.linkedin}}" target="_blank" title="LinkedIn">
                <i class="fa fa-linkedin"></i>
            </a>
            <a class="btn btn-social-icon btn-facebook social-icon" href="{{main.accounts.facebook}}" target="_blank" title="Facebook">
                <i class="fa fa-facebook"></i>
            </a>
            <a class="btn btn-social-icon btn-twitter social-icon" href="{{main.accounts.twitter}}" target="_blank" title="Twitter">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-social-icon btn-instagram social-icon" href="{{main.accounts.instagram}}" target="_blank" title="Instagram">
                <i class="fa fa-instagram"></i>
            </a>
        </div>
    </div>-->
</body>
</html>
