<!DOCTYPE html>
<html>
<head>
  <title>Say Cheese! Online Photo Gallery</title>
  <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
	<div id="wrapper">
    <div class="header">
      <h1>Say Cheese!</h1>
      <h3>Treasure great moments...</h3>
      <!-- <nav>
        <a href="#">Home</a> |
        <a href="#">About This Site</a> |
        <a href="#">Contact Us</a>
      </nav> -->
    </div>
    <div class="content">
      <div class="albums">
          <div class="album">
            <div class="album_preview">
              <a href="./images">
                <image class="album_image" src="./images/test (1).jpg" onmouseover="hover(this);"></a>
            </div>
            <div class="caption_text_div">
              <span class="caption_text">This is a caption</span>
            </div>
          </div>
          <div class="album">
            <div class="album_preview">
              <a href="./images">
                <image class="album_image" src="./images/test (2).jpg" onmouseover="hover(this);"></a>
            </div>
            <div class="caption_text_div">
              <span class="caption_text">This is a caption</span>
            </div>
          </div>
          <div class="album">
            <div class="album_preview">
              <a href="./images">
                <image class="album_image" src="./images/test (3).jpg" onmouseover="hover(this);"></a>
            </div>
            <div class="caption_text_div">
              <span class="caption_text">This is a caption</span>
            </div>
          </div>
          <div class="album">
            <div class="album_preview">
              <a href="./images">
                <image class="album_image" src="./images/test (4).jpg" onmouseover="hover(this);"></a>
            </div>
            <div class="caption_text_div">
                <span class="caption_text">This is a caption</span>
            </div>
          </div>
          <div class="album">
            <div class="album_preview">
              <a href="./images">
                <image class="album_image" src="./images/test (5).jpg" onmouseover="hover(this);"></a>
            </div>
            <div class="caption_text_div">
              <p class="caption_text">This is a super duper long long long long
                long long long long long long long long long long long long
                captionThis is a super duper long long long long
                long long long long long long long long long long long long
                captionThis is a super duper long long long long
                long long long long long long long long long long long long
                caption
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">This is a footer.
      </div>
    </div>
    <script language="javascript" type="text/javascript" src="./js/home.js"></script>
  </body>
</html>
